<div class="comments">
    <div class="comments_title">Comments <span>(12)</span></div>
    <div class="row">
        <div class="col-xl-12">
            <div class="comments_container">
                <ul class="comment_list">
                    <li class="comment">
                        <div class="comment_body">
                            <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                <div class="comment_author_image"><div><img src="../../assets/images/comment_author_1.jpg" alt=""></div></div>
                                <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
                                <i class="fa fa-heart like ml-auto"></i>
                            </div>
                            <div class="comment_content">
                                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
                            </div>
                        </div>
                    </li>
                    <li class="comment">
                        <div class="comment_body">
                            <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                <div class="comment_author_image"><div><img src="../../assets/images/comment_author_1.jpg" alt=""></div></div>
                                <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
                                <i class="fa fa-heart like ml-auto"></i>
                            </div>
                            <div class="comment_content">
                                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>	
</div>