<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../../assets/images/category.jpg" data-speed="0.8"></div>
</div>

<!-- Page Content -->

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Main Content -->

            <div class="col-lg-9">
                <div class="main_content">

                    <!-- Blog Section - Don't Miss -->

                    <div class="category">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Latest Stories on {{categoryName}}</div>
                        </div>
                        <div class="section_content">
                            
                            <div class="card">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="card-body">
                                            <div class="card-title"><a routerLink="/story" routerLinkActive="active">What are the reason behind extintion of animals?</a></div>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis...</p>
                                            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="im" [ngStyle]="{'background-image': 'url(\'./assets/images/post_4.jpg\')'}"></div>
                                    </div>
                                            
                                </div>
                            </div>

                            <div class="card">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="card-body">
                                            <div class="card-title"><a routerLink="/story" routerLinkActive="active">What are the reason behind extintion of animals?</a></div>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis...</p>
                                            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="im" [ngStyle]="{'background-image': 'url(\'./assets/images/post_2.jpg\')'}"></div>
                                    </div>
                                            
                                </div>
                            </div>

                            <div class="card">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="card-body">
                                            <div class="card-title"><a routerLink="/story" routerLinkActive="active">What are the reason behind extintion of animals?</a></div>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis...</p>
                                            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="im" [ngStyle]="{'background-image': 'url(\'./assets/images/post_3.jpg\')'}"></div>
                                    </div>
                                            
                                </div>
                            </div>

                            <div class="card">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="card-body">
                                            <div class="card-title"><a routerLink="/story" routerLinkActive="active">What are the reason behind extintion of animals?</a></div>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis...</p>
                                            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="im" [ngStyle]="{'background-image': 'url(\'./assets/images/post_4.jpg\')'}"></div>
                                    </div>
                                            
                                </div>
                            </div>

                            <div class="card">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="card-body">
                                            <div class="card-title"><a routerLink="/story" routerLinkActive="active">What are the reason behind extintion of animals?</a></div>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis...</p>
                                            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="im" [ngStyle]="{'background-image': 'url(\'./assets/images/post_3.jpg\')'}"></div>
                                    </div>
                                            
                                </div>
                            </div>

                            <div class="card">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="card-body">
                                            <div class="card-title"><a routerLink="/story" routerLinkActive="active">What are the reason behind extintion of animals?</a></div>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis...</p>
                                            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="im" [ngStyle]="{'background-image': 'url(\'./assets/images/post_2.jpg\')'}"></div>
                                    </div>
                                            
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>       

            <!-- Sidebar -->

            <div class="col-lg-3">
                <app-sidebar-category-popular></app-sidebar-category-popular>
            </div>

        </div>
    </div>
</div>