<div class="grid clearfix card-deck">

    <!-- Small Card With Image -->
    <div class="card card_small_with_image grid-item">
        <img class="card-img-top" src="../../assets/images/post_25.jpg" alt="https://unsplash.com/@jakobowens1">
        <div class="card-body">
            <div class="card-title card-title-small"><a routerLink="/story" routerLinkActive="active">Why innovation is essential for a better world (and how you can be part of the movement)?</a></div>
            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
        </div>
    </div>

    <!-- Small Card With Image -->
    <div class="card card_small_with_image grid-item">
        <img class="card-img-top" src="../../assets/images/post_2.jpg" alt="https://unsplash.com/@jakobowens1">
        <div class="card-body">
            <div class="card-title card-title-small"><a routerLink="/story" routerLinkActive="active">Why innovation is essential for a better world (and how you can be part of the movement)?</a></div>
            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
        </div>
    </div>

    <!-- Small Card With Image -->
    <div class="card card_small_with_image grid-item">
        <img class="card-img-top" src="../../assets/images/post_26.jpg" alt="https://unsplash.com/@jakobowens1">
        <div class="card-body">
            <div class="card-title card-title-small"><a routerLink="/story" routerLinkActive="active">Why innovation is essential for a better world (and how you can be part of the movement)?</a></div>
            <small class="post_meta"><a href="#">Anonymous</a><span>Mar 29, 2019 at 9:48 am</span></small>
        </div>
    </div>

</div>